.feed {
  display: flex;
  flex-direction: column;
}

.feed__menu {
  min-height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.posts__list {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}