.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: calc(40px + 86px);
  position: relative;
  width: 100%;
}

.games__search {
  display: block;
  position: relative;
  width: 100%;
}

.games__search::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 18px;
  left: 18px;
  background: url("../../../images/search_icon.svg");
}

.games__input-search {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: var(--dark-color-bcg);
  margin-bottom: 28px;
  padding: 15px 15px 15px 50px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  color: var(--grey-text);
}

.games__input-search:focus {
  outline: 1px solid var(--violet-color);
}

.games__input-search::placeholder {
  color: var(--grey-text);
  opacity: .3;
}

.games__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.games__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.games__image {
  width: 150px;
  height: 200px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: all .3s;
}

.games__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--grey-text);
  opacity: .5;
  transition: all .3s;
}

.games__item:hover .games__title {
  opacity: 1;
}

.games__item::after {
  content: '';
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background: url("../../../images/checked_icon_white.svg") center / auto no-repeat var(--violet-color);
  opacity: 0;
  transition: all .3s;
}

.games__item[status="checked"]::after {
  opacity: 1;
}

.games__item:hover .games__image {
  transform: scale(1.05);
}

.games__input-check {
  display: none;
}

.games__button {
  position: fixed;
  bottom: 40px;
  min-width: 146px;
}

.games__button_visible {
  visibility: visible;
  opacity: 1;
}

.games__button_hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 767px) {
  .games__items {
    gap: 20px 15px;
  }
}