@keyframes translate {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes translateLines {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(200vh);
  }
}
@keyframes translateLines1 {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(200vh);
  }
}

.translation {
  animation: translate 2s 1;
}
.translationLines {
  animation: translateLines 100s linear infinite;
}
.translationLines2 {
  animation: translateLines 50s linear infinite;
}