@keyframes translate {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes translateLines {
  0% {
    transform: translateY(-100vh);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}


.translation {
  animation: translate 2s 1;
}
.translationLines {
  animation: translateLines 100s linear infinite;
}
.translationLines1 {
  animation: translateLines 100s linear 50s infinite;
}