.content {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 23% 44% 23%;
  justify-content: space-between;
  flex-grow: 1;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 0 69px;
  }
}