.platforms__items {
  max-width: 860px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
}

.platforms__label {
  width: 129px;
  height: 172px;
  padding-bottom: 26px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s;
}

.platforms__label_content_pc[status="checked"], .platforms__label_content_pc[status="checked"]:hover {
  background-color: var(--dark-pink-color);
}

.platforms__label_content_pc[status="checked"]:hover {
  box-shadow: 0 0 3px var(--dark-pink-color),
  0 0 10px var(--dark-pink-color),
  0 0 20px var(--dark-pink-color),
  0 0 50px var(--dark-pink-color);
}

.platforms__label_content_ps[status="checked"], .platforms__label_content_ps[status="checked"]:hover {
  background-color: var(--dark-blue-color);
}

.platforms__label_content_ps[status="checked"]:hover {
  box-shadow: 0 0 3px var(--dark-blue-color),
  0 0 10px var(--dark-blue-color),
  0 0 20px var(--dark-blue-color),
  0 0 50px var(--dark-blue-color);
}

.platforms__label_content_xbox[status="checked"], .platforms__label_content_xbox[status="checked"]:hover {
  background-color: var(--green-color);
}

.platforms__label_content_xbox[status="checked"]:hover {
  box-shadow: 0 0 3px var(--green-color),
  0 0 10px var(--green-color),
  0 0 20px var(--green-color),
  0 0 50px var(--green-color);
}

.platforms__label_content_switch[status="checked"], .platforms__label_content_switch[status="checked"]:hover {
  background-color: var(--red-color);
}

.platforms__label_content_switch[status="checked"]:hover {
  box-shadow: 0 0 3px var(--red-color),
  0 0 10px var(--red-color),
  0 0 20px var(--red-color),
  0 0 50px var(--red-color);
}

.platforms__label_content_mobile[status="checked"], .platforms__label_content_mobile[status="checked"]:hover {
  background-color: var(--violet-color);
}

.platforms__label_content_mobile[status="checked"]:hover {
  box-shadow: 0 0 3px var(--violet-color),
  0 0 10px var(--violet-color),
  0 0 20px var(--violet-color),
  0 0 50px var(--violet-color);
}


.platforms__label:hover {
  background-color: rgba(23, 22, 31, 0.8);
}

.platforms__label_content_pc {
  background: url("../../../images/gamePlatforms/pc_icon.svg") 42px 49px / 59px 49px no-repeat;
}

.platforms__label_content_ps {
  background: url("../../../images/gamePlatforms/ps_icon.svg") center 49px / 64px 50px no-repeat;
}

.platforms__label_content_xbox {
  background: url("../../../images/gamePlatforms/xbox_icon.svg") center 49px / 50px 50px no-repeat;
}

.platforms__label_content_switch {
  background: url("../../../images/gamePlatforms/switch_icon.svg") center 49px / 50px 50px no-repeat;
}

.platforms__label_content_mobile {
  background: url("../../../images/gamePlatforms/mobile_icon.svg") center 49px / 36px 53px no-repeat;
}

.platforms__input {
  display: none;
}

.platforms__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--grey-text);
  opacity: .5;
}

.platforms__button {
  margin-top: 35px;
  min-width: 146px;
}

.platforms__button_visible {
  visibility: visible;
  opacity: 1;
}

.platforms__button_hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 767px) {
  .platforms__label {
    width: 150px;
    height: 200px;
  }

  .platforms__label:not(.platforms__label_content_pc) {
    background-position: center 58px;
  }

  .platforms__label_content_pc {
    background-size: 68px 55px;
    background-position: 48px 58px;
  }

  .platforms__label_content_ps {
    background-size: 73px 56px;
  }

  .platforms__label_content_xbox {
    background-size: 57px 57px;
  }

  .platforms__label_content_switch {
    background-size: 57px 57px;
  }

  .platforms__label_content_mobile {
    background-size: 41px 61px;
  }
}