.button {
    padding: 20px;
    background: var(--violet-color);
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: var(--grey-text);
    transition: all .3s;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 5px var(--violet-color),
    0 0 25px var(--violet-color),
    0 0 50px var(--violet-color),
    0 0 200px var(--violet-color);
}

.button:disabled {
    background-color: var(--dark-grey-text);
    opacity: .3;
    cursor: default;
}

.button:disabled:hover {
    box-shadow: none;
}
