.recovery {
  min-width: 280px;
  max-width: 423px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.recovery__button {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .recovery {
    justify-content: start;
    padding: 40px 0 67px;
    height: auto;
  }

  .recovery__button {
    margin-top: auto;
  }
}
