.recovery {
  width: 423px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.recovery__info {
  min-height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: url("../../../images/recovery_password_image.png") top center / 217px 206px no-repeat;
}

.recovery__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.408px;
  color: var(--grey-text);
  margin: 0;
}

.recovery__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--grey-text);
  opacity: .5;
  margin: 16px 0 0;
}