.image-popup__image {
  max-width: 75vw;
  max-height: 75vh;
}

.image-popup__button-close {
  position: absolute;
  top: -25px;
  right: -25px;
  padding: 0;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: url("../../../images/buttons/close_button.svg") center / contain no-repeat;
}