.back-button {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: rgba(40, 39, 46, .8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s;
}

.back-button:hover {
  transform: scale(1.1);
}

.back-button::after {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  margin: auto;
  background: url("../../../images/buttons/arrow_button.svg") center / auto no-repeat;
}