.input {
  border: 1px solid rgba(235, 235, 245, .2);;
  border-radius: 20px;
  background-color: inherit;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: var(--grey-text);
  padding: 18px 20px;
  box-sizing: border-box;
  outline: none;
  margin: 10px 0 3px;
  transition: border-color .3s;
}

.input:focus {
  border-color: var(--violet-color);
}

.input::placeholder {
  color: var(--grey-text);
  opacity: .3;
}

.input:invalid:not(:focus):not(:placeholder-shown) {
  border-color: var(--red-text);
}

.input:valid {
  background: url("../../../images/valid_input_icon.svg") calc(100% - 24px) / 11px 100% no-repeat;
}

.input__field {
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: var(--light-grey-text);
  position: relative;
}

.input__field:not(:last-child) {
  padding-bottom: 21px;
}

.input__error {
  display: block;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  color: var(--red-text);
  position: absolute;
  left: 0;
}

.input__tooltip {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  color: var(--light-grey-text);
  opacity: .5;
  display: block;
  padding-top: 20px;
}