.info-popup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  width: 25%;
  min-width: 300px;
  min-height: 100px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}

.info-popup_visible {
  visibility: visible;
  opacity: 1;
}

.info-popup__content {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: flex;
  gap: 20px;
  background-color: var(--black);
  border-radius: 10px;
  box-sizing: border-box;
}

.info-popup__content::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -1.5px;
  left: -1.5px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  border-radius: 10px;
  background-image: linear-gradient(45deg,
  var(--yellow-color), var(--red-color), var(--red-text), var(--dark-pink-color),
  var(--violet-color), var(--dark-blue-color), var(--green-color), var(--dark-color-bcg));
  background-size: 200%;
  animation: animation-border 3s ease infinite;
}

.info-popup__img-status {
  width: 60px;
  height: 60px;
  align-self: center;
}

.info-popup__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  color: var(--light-grey-text);
}

.info-popup__title {
  max-width: calc(100% - 10px);
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  opacity: .8;
}

.info-popup__text {
  margin: 0;
  font-size: 15px;
  line-height: 1.2;
  flex-grow: 1;
}

.info-popup__reset-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background: url("../../../images/buttons/close_button.svg") center / contain no-repeat;
  cursor: pointer;
  opacity: .6;
  transition: transform .3s;
}

.info-popup__reset-button:hover {
  transform: scale(1.2);
}

@media (max-width: 767px) {

}
