.select-game {
  position: relative;
  width: 100%;
}

.select-game__button {
  position: absolute;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.select-game__button_do_back {
  top: calc(-20px - 22px);
  left: 0;
  width: 22px;
  height: 22px;
  background: url("../../../images/buttons/arrow_button.svg") center / contain no-repeat;
}

.select-game__button_do_reselect {
  top: calc(-20px - 22px);
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.7;
  text-align: center;
  color: var(--white);
  background: var(--black);
  transition: color .3s;
}

.select-game__button_do_reselect:hover {
  color: rgba(255, 255, 255, .8);
}

.add-post-form-container {
  display: none;
}

.add-post-form-container_opened {
  display: block;
}