.subscription {
  width: 423px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.subscription__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--grey-text);
  margin: 0 auto 40px;
  max-width: 350px;
}

@media (max-width: 767px) {
  .subscription {
    width: auto;
    max-width: 335px;
    padding: 64px 0 54px;
    justify-content: start;
  }
}