.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violet-color);
}

.logo_size_small {
  width: 40px;
  height: 40px;
  border-radius: 16px;
}

.logo_size_large {
  width: 50px;
  height: 50px;
}

.logo__image_size_small {
  width: 13px;
  height: 17px;
}

.logo__image_size_large {
  width: 16px;
  height: 21px;
}
