.info {
  padding-top: calc(206px + 42px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("../../images/recovery_password_image.webp") top center / 217px 206px no-repeat;
}

.info__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.408px;
  color: var(--grey-text);
  margin: 0;
}

.info__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--grey-text);
  opacity: .5;
  margin: 16px 0 0;
}

@media (max-width: 767px) {
  .info {
    padding-top: calc(267px + 39px);
    background-size: 281px 267px;
  }
}