.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility .4s, opacity .4s;
}

.popup.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup_content_image {
  background: rgba(0, 0, 0, .9);
}

.popup_content_form {
  background: rgba(20, 20, 20, .8);
}

.popup__container {
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

.popup__container_with-form {
  width: 464px;
  padding: 20px;
  background-color: var(--black);
  border-radius: 20px;
}

@media (max-width: 767px) {
  /*.popup {*/
  /*  padding: 0 19px;*/
  /*}*/

  /*.popup__container {*/
  /*  width: 282px;*/
  /*  padding: 25px 22px;*/
  /*}*/
}