.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(20, 20, 20, .8);
  visibility: hidden;
  opacity: 0;
  transition: visibility .4s, opacity .4s;
}

.popup.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  margin: auto;
  width: 464px;
  padding: 20px;
  background-color: var(--black);
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
}

.popup__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: -0.408px;
  text-align: center;
  color: var(--light-grey-text);
}

.popup__button-close {
  position: absolute;
  top: 24px;
  right: 20px;
  width: 14px;
  height: 14px;
  background: url("../../../images/buttons/close_button.svg") center / contain no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 767px) {
  /*.popup {*/
  /*  padding: 0 19px;*/
  /*}*/

  /*.popup__container {*/
  /*  width: 282px;*/
  /*  padding: 25px 22px;*/
  /*}*/
}