.payment-form {
  display: flex;
  flex-direction: column;
}

.payment-form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  margin: 0 0 20px;
}

.payment-form__container {
  display: grid;
  grid-gap: 17px;
  grid-template-columns: repeat(2, 110px);
  margin-top: 21px;
}
