.user-game-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-grow: 1;
  color: var(--grey-text);
}

.user-game-config_slim {
  width: 660px;
  justify-content: flex-start;
}

.user-game-config__title {
  max-width: 350px;
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--grey-text);
}

.user-game-config__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  text-align: center;
  opacity: .5;
}

.user-game-config__description {
  max-width: 225px;
  margin: 0 0 40px;
}

@media (max-width: 767px) {
  .user-game-config {
    justify-content: start;
    padding: 56px 0 50px;
  }

  .user-game-config_slim {
    width: 100%;
  }

  .user-game-config__description {
    margin-bottom: 50px;
  }
}
