.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.splash-screen__logo {
  display: none;
  margin-bottom: 154px;
  padding-top: calc(62px + 12px);
  background: url("../../../images/logo.svg") top center / 48px 62px no-repeat;
}

.splash-screen__name {
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 900;
  color: var(--light-grey-text);
}

.splash-screen__title {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 760px;
  text-align: center;
  color: var(--light-yellow-text);
  font-size: 88px;
  line-height: 1;
  letter-spacing: -0.01em;
}

.splash-screen__button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 78px;
  height: 78px;
  border: 0;
  border-radius: 50%;
  background: url(../../../images/splash-screen_button.svg) no-repeat center var(--violet-color);
  cursor: pointer;
}

.splash-screen__container {
  display: none;
}

.splash-screen__register {
  margin-bottom: 10px;
}

button.splash-screen__login {
  margin-bottom: 20px;
  background-color: var(--dark-grey-button);
}

@media (max-width: 767px) {
  .splash-screen {
    padding: 163px 0 54px;
    justify-content: start;
  }

  .splash-screen__logo {
    display: flex;
  }

  .splash-screen__title {
    display: none;
  }

  .splash-screen__button {
    display: none;
  }

  .splash-screen__container {
    display: flex;
    flex-direction: column;
  }
}