.post {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(20, 19, 26, .8);
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow .3s;
}

.post:hover {
  box-shadow: 0 0 3px  var(--violet-color),
  0 0 6px var(--violet-color),
  0 0 10px var(--violet-color),
  0 0 25px var(--violet-color);
}

.post__header {
  display: flex;
  gap: 15px;
}

.post__info {
  flex-grow: 1;
  max-width: calc(100% - 36px - 15px);
  line-height: 1;
}

.post__user-avatar {
  width: 36px;
  height: 36px;
  display: block;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}

.post__user-name {
  margin: 0 0 5px;
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: var(--grey-text);
}

.post__game {
  position: relative;
  padding-right: 20px;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post__game::after {
  position: absolute;
  top: 2.5px;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: .4em .4em .4em .4em;
  border-color: transparent transparent transparent var(--grey-text);
  opacity: .5;
}

.post__time {
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 1.14;
}

.post__text {
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-text);
  opacity: .5;
}

.post__main-text {
  margin: 0;
  line-height: 1.5;
}

.post__image {
  width: 100%;
}

.post__social {
  display: flex;
  align-items: center;
}

.post__social-item {
  position: relative;
  padding: 0;
  margin-right: 8px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all .3s;
}

.post__social-item:hover {
  transform: scale(1.2);
}

.post__social-item::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  background-color: var(--grey-text);
  opacity: .5;
}

.post__social-item_content_likes {
  width: 19px;
  height: 16px;
}

.post__social-item_content_likes::before {
  mask-image: url("../../images/like_icon.svg");
  -webkit-mask-image: url("../../images/like_icon.svg");
}

.post__social-item_content_likes-active::before {
  background-color: var(--red-text);
  opacity: 1;
}

.post__social-item_content_comments {
  width: 20px;
  height: 19px;
}

.post__social-item_content_comments::before {
  mask-image: url("../../images/comment_icon.svg");
  -webkit-mask-image: url("../../images/comment_icon.svg");
}

.post__num {
  min-width: 32px;
  transition: opacity .3s;
}

.post__num_active {
  opacity: 1;
}