@import url(./styles/vendor/normalize.css);
@import url(./styles/vendor/fonts/Montserrat_Alternates/montserrat_alternates.css);

@keyframes translateDownToCenter {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes translateCenterToUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

@keyframes translateLines {
  0% {
    transform: translateY(-100vh);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}

@keyframes animation-border {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

body {
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  min-width: 320px;
  /* max-width: 1200px; */
  margin: 0 auto;
  --white: #fff;
  --black: #000;
  --light-grey-text: #F8F6FF;
  --grey-text: #EBEBF5;
  --dark-grey-text: #504D60;
  --light-yellow-text: #F5F5FA;
  --red-text: #F45365;
  --dark-grey-bcg: #1E1D24;
  --dark-grey-button: #17161F;
  --dark-color-bcg: #141423;
  --violet-color: #6E4AFF;
  --dark-pink-color: #9C42AB;
  --dark-blue-color: #184292;
  --red-color: #EB4335;
  --green-color: #077d07;
  --lime-color: #43CE62;
  --yellow-color: #D2C867;
  background-color: var(--black);
}

.link-hover {
  transition: opacity .3s;
}

.link-hover:hover {
  opacity: .8;
}

.neon-box-shadow {
  transition: box-shadow .5s;
}

.neon-box-shadow:hover {
  box-shadow: 0 0 5px  var(--violet-color),
  0 0 25px var(--violet-color),
  0 0 50px var(--violet-color),
  0 0 200px var(--violet-color);
}

.translationDownToCenter {
  animation: translateDownToCenter 2s 1;
}

.translationCenterToUp {
  animation: translateCenterToUp 2s 1 forwards;
}
