@import url(./styles/vendor/normalize.css);
@import url(./styles/vendor/fonts/Montserrat_Alternates/montserrat_alternates.css);

@keyframes translate {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes translateLines {
  0% {
    transform: translateY(-100vh);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}

body {
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  min-width: 320px;
  /* max-width: 1200px; */
  margin: 0 auto;
  --white: #fff;
  --light-grey-text: #F8F6FF;
  --light-yellow-text: #F5F5FA;
  --dark-color-bcg: #141423;
  --black-color-bcg: #000;
  --violet-color: #6E4AFF;
  --dark-pink-color: #9C42AB;
  --dark-blue-color: #184292;
  --red-color: #EB4335;
  --green-color: #077d07;
  background-color: var(--black-color-bcg);
}

.link-hover {
  transition: opacity .3s;
}

.link-hover:hover {
  opacity: .8;
}

.translation {
  animation: translate 2s 1;
}
