.header-sign-page {
  align-items: center;
  padding: 10px 16px 0;
  position: relative;
}

.header-sign-page_version_desktop {
  display: flex;
}

.header-sign-page_version_mobile {
  display: none;
}

.header-sign-page__back {
  margin-left: 12px;
}

.header-sign-page__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: -0.408px;
  color: var(--light-grey-text);
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.header-sign-page__nav {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-grow: 1;
  padding-right: 40px;
}

.header-sign-page__link {
  color: var(--dark-pink-color);
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: -0.408px;
  text-decoration: none;
  transition: text-shadow .3s;
}

.header-sign-page__link:hover {
  text-shadow: 0 0 5px var(--dark-pink-color),
  0 0 25px var(--dark-pink-color),
  0 0 50px var(--dark-pink-color),
  0 0 200px var(--dark-pink-color);
}

.header-sign-page_active {
  color: var(--light-grey-text);
  font-size: 18px;
}

@media (max-width: 767px) {

  .header-sign-page {
    padding: 20px 0 0;
  }

  .header-sign-page_version_desktop {
    display: none;
  }

  .header-sign-page_version_mobile {
    display: flex;
  }

  .header-sign-page__nav {
    display: none;
  }
}